body {
    background-color: bisque;
    font-family: Roboto;
}

h1 {
    text-align: center;
    font-size: 4vw;
    margin-bottom: 0px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.student {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 250px;
    margin: 10px;
    background-color: rgb(122, 106, 106);
    border: 1px solid black;
}

.students-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#dayContainer {
    margin-top: 0px;
    text-align: center;
    font-size: 1vw;
}

#ikeContainer {
    margin-top: 0px;
    text-align: center;
    font-size: 1vw;
    margin-bottom: 50px;
}

.red {
    color: red;
}